.main {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.main__title {
  color: #ffffff;
  text-align: center;
  height: 200px;
  padding: 91px 0 32px;
  margin: auto;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
  margin: auto;
}

.main__subtitle {
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding-bottom: 64px;
  height: 72px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.main__photo {
  width: 100%;
  max-width: 984px;
  padding-top: 64px;
  display: block;
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 720px;
  }
}

.main__title {
  max-width: 530px;
  height: 158px;
  padding-bottom: 25px;
  font-size: 75px;
  line-height: 79px;
}

.main__subtitle {
  height: 72px;
  font-size: 30px;
  line-height: 36px;
}

.main__photo {
  min-width: 100%;
  padding-top: 64px;
}

@media screen and (max-width: 320px) {
  .main {
    max-width: 290px;
    margin: 0 16px;
  }
}

.main__title {
  height: 88px;
  font-size: 40px;
  line-height: 44px;
  padding: 0 19px;
}

.main__subtitle {
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 0;
}

.main__photo {
  max-width: 100%;
}
