.main {
  width: 90vm;
  max-width: 1280px;
  margin: 92px 148px 92px;
}

.main__title {
  color: #ffffff;
  text-align: center;
  width: 720px;
  height: 200px;
  top: 194px;
  padding-bottom: 32px;
  margin: auto;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
}

.main__subtitle {
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding-bottom: 64px;
  width: 720px;
  height: 72px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.main__photo {
  width: 100%;
}
